<main class="main">
  <div class="inner">
    <div class="mountain__wrapper">
      <p class="mountain__hedding">
        <%= @mountain.mountain_name %>
      </p>
      <%= link_to "by #{@mountain.user.name}", user_path(@mountain.user), class: :mountain__user %>
      <% if user_signed_in? && current_user.id == @mountain.user_id %>
        <div class="mountain__manage">
          <%= link_to "編集する", edit_mountain_path(@mountain), class: :mountain__btn %>
          <%= link_to "削除する", mountain_path(@mountain), method: :delete, class: :mountain__btn %>
        </div>
      <% end %>
      <div class="mountain__image">
        <%= image_tag @mountain.image %>
      </div>
      <div class="mountain__body">
        <div class="mountain__detail">
          <p class="detail__title">山の名称</p>
          <p class="detail__message">
            <%= @mountain.mountain_name %>
          </p>
        </div>
        <div class="mountain__detail">
          <p class="detail__title">標高、登山難易度</p>
          <p class="detail__message">
            <%= @mountain.level %>
          </p>
        </div>
        <div class="mountain__detail">
          <p class="detail__title">登って良かったところ</p>
          <p class="detail__message">
            <%= @mountain.point %>
          </p>
        </div>
      </div>
      <div class="mountain__comments">
        <% if user_signed_in? %>
          <%= form_with model: [@mounain, @comment], local: true do |f|%>
            <div class="field">
              <%= f.label :content, "コメント" %><br />
              <%= f.text_field :content, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <% end %>
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.content %>
              <%= link_to "（ #{comment.user.name} ）", user_path(comment.user), class: :comment_user %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
